.App {
  width: 100%;
  height: 100%;
  background-color: #222 ;
}

.chess-board {
  width: min(80vh, 80vw);
  height: min(80vh, 80vw);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1px;

  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Chessboard480.svg/480px-Chessboard480.svg.png?20210611221915);
  background-repeat: no-repeat;
  background-size: contain;
}



